input {
    background-color: var(--primary);
    outline: none;
    max-width: 50%;
  }
  
  table {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  thead,
  tbody tr {
    display: table; /* Ensure the rows are displayed as table rows */
    width: 100%;
    table-layout: fixed; /* Helps ensure the columns have a consistent layout */
  
    /*STYLE*/
    font-size: 0.7rem;
  }
  
  tbody {
    overflow-y: auto; /* Enable vertical scrolling */
    height: 250px; /* Set the max height for scrolling */
    width: 100%;
    display: block;
    padding-right: 5px
  }
  
  tbody::-webkit-scrollbar {
    display: block;
  }
  
  tr {
      margin: 10px 0;
  }

  tr td:nth-child(3) {
    width: 20px;
  }


