.home_content_wrapper {
    /**LAYOUT*/
    height:100%;
    width:100%;
    overflow-y: hidden;
    display:flex;
    flex-direction:column;

}

.home_content_wrapper::-webkit-scrollbar {
    display: none;
}

.project_name_wrapper {
    /*Layout*/
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.current_project_container{
    /*LAYOUT*/
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}

.current_project_title {
    font-size: 1.75rem
}

/* MATCHING SCHEMAS CONTAINER STYLES    */

.matching_schemas_container {
    /*LAYOUT*/
    display:flex;
    flex-direction: column;
    align-items: center;
    flex:1.8;
    row-gap: 20px;
    max-height: 250px;
    overflow-y: hidden;

}

.matching_schemas_content_container {
    height: 100%; /* or any height you want */
    overflow-y: auto;
    display: block;
    width: 100%; 
   
}

.matching_schemas_title {
    font-size: 1.5rem;
}