.content_line {
  padding-left: 20px;
  display: flex;
  width: 100%;
  column-gap: 10px;
  text-align: left;
  font-size: 1rem;
  margin-top: 10px;
}

.content_line label {
  width: 25%;
}


.table_header_container {
    margin: 10px auto;
  }
  
h3 {
  font-size: 1.5rem
}

.table_header {
  font-size: 1rem;
}

/*Create Schema*/
.url_content_line {
  padding-left: 20px;
  display: flex;
  width: 100%;
  column-gap: 10px;
  text-align: left;
  font-size: 1rem;
  flex-direction: column;
  row-gap: 10px;
  align-items: start;
}
.url_input_container {
  display: flex;
  width: 100%;
  column-gap: 20px;
  justify-content: space-between;
}

.url_match_input {
  display: block;
  min-width: 85%;
  max-width: 100%;

  overflow-x: auto;
}

.content_line b {
  padding-right: 10px
}