.schema_form_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.schema_details_container {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  justify-content: space-around;
}

.schema_details_container > h3 {
  margin: 0 auto;
}




.schema_content_container {
  height: 70%;
  width: 100%;
  overflow-y: scroll;
}

input {
  background-color: var(--primary);
  outline: none;
  max-width: 50%;
}



